<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<div class="content">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <vedio id="player" class="jwplayer"></vedio>
</div>
</body>
<script type="text/javascript" src="/js/jwplayer-7.9.3/jwplayer.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</html>
